@import "_vars";
.top_container {
    position: fixed;
    scroll-behavior: smooth;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    animation: move-up 2s infinite;
}

.top_svg {
    width: 50px;
    height: 50px;
    color: $text-color;
}
.top_svg:hover {
    width: 50px;
    height: 50px;
    color: white;
    transition: 0.3s;
}
@keyframes move-up {
    0% {
        bottom: 0;
        left: 0;
    }
    100% {
        bottom: 10px;
        left: 0;
    }
} ;
