@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');

$text-color: #00d8ff;
$title-size : 2.2rem;
$primary-font: "OpenSans", sans-serif;
